@font-face {
    font-family: coca;
    src: url(FONT/TCCC-UnityText\ Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    width: 100%;
}
/* HEADER */
.header{
        top: 0;
        width: 100%;
        height: 77px;
        background-color: white;
        border-bottom: 1px solid #00000096;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 2;
}
#n1:hover{
    background-color: red;
    color: white;
    
    
}
#n2:hover{
    background-color: #ff560e;
    color: white;
}
#n3:hover{
    background-color: #6ace80;
    color: white;
}
#n4:hover{
    background-color: #6ac9ce;
    color: white;
}
#n5:hover{
    background-color: #d7b85b;
    color: white;
}
#n6:hover{
    background-color: #f79800;
    color: white;
}
#n7:hover{
    background-color: #b59e74;
    color: white;
}
.header img{
    width: 156px;
    height: 30px;
    margin-left: 182px;
    margin-top: 1px;
    cursor: pointer;
}
.nav{
    margin-left: 5px;
}
.navlist{
    float: left;
    list-style: none;
    padding-top: 18px;
    padding-left: 39px;
    font-family: coca;
    font-size: 14px;
   color: #333; 
   height: 74px;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.acc img{
  position: absolute;
    width: 38px;
    height: 43px;
    margin-left: 12px;
    margin-top: 19px;
    cursor: pointer;
}
.root{
    position: relative;
    margin-top: 30px;
}
.p1{
    width: 1415px;
    height: 632px;
    margin-left: 104px;
    background-color: transparent;
    position:relative;  
}
.p1 img{
    width: 1309px;
    height: 671px;
    margin-top: 76px; 
    cursor: pointer;
}
.left{
    width: 30px;
    height: 200px;
    margin-left: 20;
    margin-top: -668px;
}
.left img{
    width: 104px;
    height: 571px;
    margin-top: 113px;
    margin-left: 1px;
}
.right img{
    width: 125px;
    height: 592px;
    margin-top: -110px;
    margin-left: 1389px;
}
.rad{
    width: 297px;
    height: 99px;
    margin-left: 675px;
    margin-top: 17px;
    position: absolute;
}
.rad img{
    width: 183px;
    height: 112px;
    padding: 10px;
    cursor: pointer;
}
.hd1{
    margin-left: 14px;
    margin-top: 127px;
    font-size: 16px;
    text-align: center;
    font-family: coca;
}
.root{
    width: 100%;
    height: 500vh;
}
/* sus1 */
.sus1{
    width: 554px;
    height: 697px;
    margin-left: 191px;
    margin-top: 83px;
    background-color: transparent;  
    cursor: pointer; 
}
.sus1:hover{
    .syp{
   filter: brightness(60%);
    }
}
.sus1img{
    width: 100%;
    height: 50%;
    position: relative;
}
.sus1img img{
    width: 554px;
    height: 349px;
    border-radius: 20px 20px 0px 0px;
}
.sus1tex{
    width: 100%;
    height: 50%;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    font-family: coca;
}
.sus1tex h3{
    font-size: 17px;
    padding: 47px 35px 0 48px;
}
.sus1tex p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 47px;
    line-height: 27px;
}
.sus1tex h4{
    font-size: 16px;
    padding-top: 54px;
    padding-left: 50px;
    line-height: 27px;
}
.sus1tex span{
    margin-top: -25PX;
    position: absolute;
    padding-left: 204px;;
}
/* sus2 */
.sus2{
    width: 554px;
    height: 697px;
    margin-left: 33px;
    margin-top: 83px;
    background-color: transparent;
    flex-direction: column;
    position: relative; 
    cursor: pointer;
}
.sus2img{
    width: 100%;
    height: 50%;
    position: relative;
}
.sus2img img{
    width: 554px;
    height: 349px;
    border-radius: 20px 20px 0px 0px;
}
.sus2tex{
    width: 100%;
    height: 50%;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    font-family: coca;
}
.sus2tex h3{
    font-size: 17px;
    padding: 47px 35px 0 48px;
}
.sus2tex p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 47px;
    line-height: 27px;
}
.sus2tex h4{
    font-size: 16px;
    padding-top: 40px;
    padding-left: 50px;
    line-height: 27px;
}
.sus2tex span{
    margin-top: -25PX;
    position: absolute;
    padding-left: 303px;
}
.susflex{
    display: flex;
    flex-direction: row;
    }
.fea{
    width: 275px;
    height: 30px;
    margin-left: 642px;
    margin-top: 85px;
    font-family: coca;
    font-size: 16px;
}
/* news */

/* news1 */
.news1{
    width: 349px;
    height: 677px;
    margin-left: 11px;
    margin-top: 81px;
    background-color: transparent;
    flex-direction: column;
    cursor: pointer;
}
.news1img{
    width: 100%;
    height: 40%;
    position: relative;
}
.news1img img{
    width: 349px;
    height: 271px;
    border-radius: 20px 20px 0px 0px;
}
.news1tex{
    width: 100%;
    height: 60%;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    font-family: coca;
}
.news1tex h3{
    font-size: 18px;
    padding: 47px 35px 0 48px;
}
.news1tex p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 47px;
    line-height: 27px;
}
.news1tex h4{
    font-size: 15px;
    padding-top: 84px;
    padding-left: 50px;
    line-height: 27px;
}
.news1tex span{
    margin-top: -40PX;
    position: absolute;
    padding-left: 283px;
}
/* news2 */
.news2{
    width: 349px;
    height: 677px;
    margin-left: 37px;
    margin-top: 81px;
    background-color: transparent;
    flex-direction: column; 
    cursor: pointer;
}
.news2img{
    width: 100%;
    height: 40%;
    position: relative;
}
.news2img img{
    width: 349px;
    height: 271px;
    border-radius: 20px 20px 0px 0px;
}
.news2tex{
    width: 100%;
    height: 60%;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    font-family: coca;
}
.news2tex h3{
    font-size: 18px;
    padding: 47px 35px 0 48px;
}
.news2tex p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 47px;
    line-height: 27px;
}
.news2tex h4{
    font-size: 15px;
    padding-top: 48px;
    padding-left: 50px;
    line-height: 27px;
}
.news2tex span{
    margin-top: -24PX;
    position: absolute;
    padding-left: 116px;
}
/* news3 */
.news3{
    width: 349px;
    height: 677px;
    margin-left: 35px;
    margin-top: 81px;
    background-color: transparent;
    flex-direction: column;
    cursor: pointer;
}
.news3img{
    width: 100%;
    height: 40%;
    position: relative;
}
.news3img img{
    width: 349px;
    height: 271px;
    border-radius: 20px 20px 0px 0px;
}
.news3tex{
    width: 100%;
    height: 60%;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    font-family: coca;
}
.news3tex h3{
    font-size: 18px;
    padding: 47px 35px 0 48px;
}
.news3tex p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 47px;
    line-height: 27px;
}
.news3tex h4{
    font-size: 15px;
    padding-top: 31px;
    padding-left: 50px;
    line-height: 27px;
}
.news3tex span{
    margin-top: -25PX;
    position: absolute;
    padding-left: 116px;
}
.news{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ............... */
.rad2{
    width: 297px;
    height: 99px;
    margin-left: 675px;
    margin-top: -11px;
    position: absolute;
}
.rad2 img{
    width: 183px;
    height: 112px;
    padding: 10px;
    cursor: pointer;
}
/* ....... */
.roo1{
    width: 633px;
    height: 554px;
    margin-left: 687px;
    margin-top: 199px;
}
.roo1 img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}
.rtex1{
    width: 551px;
    height: 551px;
    margin-left: 196px;
    margin-top: -605px;
    border-radius: 14px;
    background-color: white;
    position: relative;
    padding-left: 66px;
    font-family: coca;
}
.col{
    border: 2px solid black;
    width: 308px;
    height: 37px;
    border-radius: 19px;
    margin-top: 202px;
    margin-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.col:hover{
    color: #9b9b9b;
    border: 2px solid #9b9b9b;
    cursor: pointer;
}
.rtex1 h1{
    font-size: 24px;
    padding-top: 74px;
}
.rtex1 p{
    margin-top: 20px;
    line-height: 26px;
    font-size: 16px;
}
/* ......... */
.roo2{
    width: 633px;
    height: 554px;
    margin-left: 208px;
    margin-top: 199px;
}
.roo2 img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}
.rtex2{
    width: 551px;
    height: 551px;
    margin-left: 782px;
    margin-top: -605px;
    border-radius: 14px;
    background-color: white;
    position: relative;
    padding-left: 66px;
    font-family: coca;
}
.col2{
    border: 2px solid black;
    width: 308px;
    height: 37px;
    border-radius: 19px;
    margin-top: 91px;
    margin-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.col2:hover{
    color: #9b9b9b;
    border: 2px solid #9b9b9b;
    cursor: pointer;
}
.rtex2 h1{
    font-size: 24px;
    padding-top: 74px;
}
.rtex2 p{
    margin-top: 20px;
    line-height: 26px;
    font-size: 16px;
}
.hlast{
    width: 350px;
    height: 30px;
    margin-left: 590px;
    margin-top: 116px;
    font-family: coca;
    font-size: 16px;
}
/* ............. */
.sub1{
    width: 255px;
    height: 255px;
    margin-left: 354px;
    margin-top: 31px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 14px 24px 0 rgba(0,0,0,.08);
    cursor: pointer;
}
.sub1 img{
    width: 100%;
    height: 100%;
}
.sub2{
    width: 255px;
    height: 255px;;
    margin-left: 27px;
    margin-top: 32px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 14px 24px 0 rgba(0,0,0,.08);
    cursor: pointer;
}
.sub2 img{
    width: 100%;
    height: 100%;
}
.sub3{
    width: 255px;
    height: 255px;
    margin-left: 27px;
    margin-top: 31px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 14px 24px 0 rgba(0,0,0,.08);
    cursor: pointer;
}
.sub3 img{
    width: 100%;
    height: 100%;
}
.parent{
    display: flex;
    flex-direction: row;
}
.base{
    display: flex;
    flex-direction: column;
}
/* ......... */
.col3{
    border: 2px solid black;
    width: 318px;
    height: 37px;
    border-radius: 19px;
    margin-top: 29px;
    margin-left: 612px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: coca;
    cursor: pointer;
}
.col3:hover{
    color: #9b9b9b;
    border: 2px solid #9b9b9b;
}
footer{
    margin-top: 118px;
    width: 100%;
    height: 80vh;
    background-color: black;
}
.im img{
    height: 102px;
    width: 292px;
    margin-left: 167px;
    margin-top: 33px;
}
.col4{
    border: 2px solid white;
    width: 252px;
    height: 39px;
    border-radius: 19px;
    margin-top: -71px;
    margin-left: 1069px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    font-family: coca;
}
.col4:hover{
    background-color: rgb(192, 182, 182);
}
.line{
    width: 1132px;
    height: 10px;
    margin-left: 187px;
    margin-top: 40px;
    border-top: 1px solid rgb(255 255 255 / 65%);
}
.foot{
    color: white;
    display: flex;
    flex-direction: row;
    font-family: coca;
}
.list1{
    margin-left: 188px;
    margin-top: 20px;
    font-size: 15px;
}
.list2{
    margin-top: 22px;
    margin-left: 71px;
    font-size: 15px;
}
.list3{
    margin-left: 67px;
    margin-top: 8px;
    font-size: 14px;
}
li{
    list-style: none;
    padding: 9px;
    cursor: pointer;
}
.about{
    color: #9b9b9b;
    margin-top: 35px;
    margin-left: 198px;
    font-family: coca;
    font-size: 10px
}
.need{
    color: #9b9b9b;
    margin-top: -14px;
    margin-left: 395px;
    font-family: coca;
    font-size: 10px;
}
.twi{
    width: 32px;
    height: 32px;
    margin-left: 1094px;
    margin-top: -16px;
    border-radius: 25px;
    position: absolute;  
}
.face{
    width: 32px;
    height: 32px;
    margin-left: 1141px;
    margin-top: -16px;
    border-radius: 25px;
    position: absolute;
}
.linkd{
    width: 32px;
    height: 32px;
    margin-left: 1188px;
    margin-top: -16px;
    border-radius: 25px;
    position: absolute;
}
.insta{
    width: 32px;
    height: 32px;
    margin-left: 1233px;
    margin-top: -16px;
    border-radius: 25px;
    position: absolute;
}
.you{
    width: 32px;
    height: 32px;
    margin-left: 1280px;
    margin-top: -16px;
    border-radius: 25px;
    position: absolute;
}
.line2{
    width: 1132px;
    height: 10px;
    margin-left: 187px;
    margin-top: 26px;
    border-top: 1px solid rgb(255 255 255 / 65%);
}
.copy{
    color: white;
    margin-top: 32px;
    margin-left: 981px;
    font-family: coca;
    font-size: 12px;
}

.fa-brands.fa-linkedin-in{
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 8px;
    border: 2px solid white;
    cursor: pointer;
}
.fa-brands.fa-linkedin-in:hover{
    background-color: #9b9b9b;
  }
.fa-brands.fa-twitter{
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 8px;
    border: 2px solid white;
    cursor: pointer; 
}
.fa-brands.fa-twitter:hover{
  background-color: #9b9b9b;
}
.fa-brands.fa-facebook-f{
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 8px 10px;
    border: 2px solid white;
    cursor: pointer;
}
.fa-brands.fa-facebook-f:hover{
    background-color: #9b9b9b;
}
.fa-brands.fa-instagram{
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 8px;
    border: 2px solid white;
    cursor: pointer;
}
.fa-brands.fa-instagram:hover{
    background-color: #9b9b9b;
}
.fa-brands.fa-youtube{
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 8px;
    border: 2px solid white;
    cursor: pointer;
}
.fa-brands.fa-youtube:hover{
    background-color: #9b9b9b;
}